* {
  box-sizing: border-box
}

body{
    background-image: url("../images/pow star/pow-star.png");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    --main-bg-color: white;
    --box-spacing: 1.5em;
    --small-padding: 5px;
}

.attackbtn{
  display: none;
}

.bg-charstat{
  background: var(--main-bg-color);
}

.charholder{

}

.characterimage{
  margin: auto auto;
  display: block;
}

.characterstatblock{
  border: 2px solid black;
  width: 200px;
}

.flex{
  display: flex;
}

.flex-around{
  justify-content: space-around;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.flex-start{
  justify-content: flex-start;
}

.margin-side{
  margin: 0px var(--box-spacing);
}

.padding-small{
  padding: var(--small-padding);
}

.resetbtn{
  display: none;
}

.textalign-center{
  text-align: center;
}
