* {
  box-sizing: border-box
}

body{
    background-image: url("../images/pow star/pow-star.png");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    --main-bg-color: white;
    --minor-bg-color: #8b0000;
    --box-spacing: 1.5em;
    --small-padding: 5px;
    --font-family-title: 'Permanent Marker', cursive;
    --font-family-general: 'Covered By Your Grace', cursive;
}

.attackbtn{
  display: none;
}

.bg-charstat{
  background: var(--main-bg-color);
}

.bg-minor{
  background: var(--minor-bg-color);
}

.characterimage{
  margin: auto auto;
  display: block;
}

.characterstatblock{
  border: 2px solid black;
  width: 200px;
}

.display-block{
  display:block;
}

.flex{
  display: flex;
}

.flex-around{
  justify-content: space-around;
}

.flex-center{
  justify-content: space-around;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.flex-start{
  justify-content: flex-start;
}

.font-color-white{
  color: white;
}

.font-family-title{
  font-family: var(--font-family-title);
}

.font-family-general{
  font-family: var(--font-family-general);
}

.font-size-general{
  font-size: 1.5em;
}

.margin-side{
  margin: 0px var(--box-spacing);
}

.padding-small{
  padding: var(--small-padding);
}

.position-abs{
  position: absolute;
}

.resetbtn{
  display: none;
}

.textalign-center{
  text-align: center;
}
